@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Unbounded:wght@200..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background: var(--background);
  --color-hero-background: var(--hero-background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-border: var(--border);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);

  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);

  --color-success: #22c55e;
  --font-open-sans: "Open Sans", sans-serif;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono:
    "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* Light theme */

:root {
  --background: #f6f6fa;
  --hero-background: #ffffff;

  --surface: #ffffff;
  --surface-hover: #f4f4f5;
  --border: #e4e4e7;

  --text-primary: #18181b;
  --text-secondary: #52525b;
  --text-muted: #71717a;

  --accent: #7c3aed;
  --accent-hover: #6d28d9;
}

/* Dark theme */

.dark {
  --background: #252525;
  --hero-background: #191919;
  --surface: #111113;
  --surface-hover: #18181b;
  --border: #27272a;

  --text-primary: #f4f4f5;
  --text-secondary: #a1a1aa;
  --text-muted: #71717a;

  --accent: #8b5cf6;
  --accent-hover: #7c3aed;
}

:root {
  font-family: Unbounded, ui-sans-serif, system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Unbounded", sans-serif;

  background: var(--background);
  color: var(--text-primary);

  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

button,
input,
textarea {
  font: inherit;
}

::selection {
  background: var(--accent);
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}